*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: #263138;
}


header {
    background-color: #ff9a6c;
    padding: 20px 80px 20px 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #fff;
    font-weight: 600;
    padding: 32px;
}

/* Aplicar efeito em links do nav */


#inicio {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 24px 80px 128px 80px;
    position: relative;
}

h1, 
h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 32px;
}

.paragrafo {
    line-height: 150%;
    margin-bottom: 32px;
}

.button {
    color: #fff;
    background-color: #ff725e;
    border-radius: 8px;
    padding: 16px 32px;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.button:hover {
    background-color: #fff;
    color: #ff725e;
}

.button-transparente {
    background-color: transparent;
    color: #ff725e;
    border-radius: 8px;
    padding: 16px 32px;
    font-weight: bold;
    transition: all .3s ease-in-out;
}
.button-transparente:hover {
    background-color: #ff725e;
    color: #fff;
}

.absoluto {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}


#clinica {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}
#clinica li {
    margin-bottom: 16px;
    margin-left: 32px;
}


#farmacia {
    padding: 64px 80px;
    text-align: center;
}
#farmacia img {
    margin: 64px auto;
}
#farmacia .paragrafo {
    max-width: 950px;
    margin: 0 auto;
}

#duvidas {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

.duvida {
    position: relative;
}

.duvida h3 {
    border: 2px  solid #ff725e;
    border-radius: 8px;
    cursor: pointer;
    padding: 24px;
}
.duvida img {
    position: absolute;
    top: 32px;
    right: 24px;
}

.duvida .paragrafo {
    border-right: 1px solid #ff725e;
    border-bottom: 1px solid #ff725e;
    border-left: 1px solid #ff725e;
    border-radius: 0 0 8px 8px;
}
